html {
	min-height: 100%;
	height: 100%;
}

body {
	min-height: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #eeeeee !important;
}

body > #root {
	min-height: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}
